" Helpful documentation : https://github.com/JetBrains/ideavim/wiki/

set scrolloff=15

set incsearch
set ideajoin

set clipboard+=unnamedplus

set number relativenumber

set ignorecase
set smartcase

map Q gq

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

set which-key
set quickscope
set notimeout
" set mini-ai

let g:WhichKey_ShowVimActions = "true"
let g:WhichKey_DefaultDelay = 250

let mapleader = " "

map <C-c> <Esc>
" imap jj <Esc>

map <leader><leader> <Action>(ShowHoverInfo)

" Does not seem to work, should be set in IDE Keymap
" map <C-p> <Action>(EditorUp)
" map <C-n> <Action>(EditorDown)

map <leader>sf <Action>(GotoFile)
map <leader>se <Action>(SearchEverywhere)
map <leader>sa <Action>(GotoAction)
map <leader>ss <Action>(GotoSymbol)
map <leader>sw <Action>(Switcher)

map <leader>prd <Action>(ChooseDebugConfiguration)
map <leader>prn <Action>(RunMenu)

map <leader>tdf <Action>(ToggleDistractionFreeMode)
map <leader>tb <Action>(ToggleLineBreakpoint)

map <leader>cr <Action>(RefactoringMenu)

map <leader>ivr <Action>(IdeaVim.ReloadVimRc.reload)
" nnoremap <leader>im :call ToggleCaseMovementImproved()<CR>

nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" let g:My_CaseMovementImproved = 0
" function ToggleCaseMovementImproved()
" if My_CaseMovementImproved == 0
" 	 	My_CaseMovementImproved = 1	
" elseif
" 		My_CaseMovementImproved = 0
" endif
" endfunction
